*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: #00acee ;
}
.ul{
  text-align: center;
}
.title{

margin-bottom: 1  0px;
}

